.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-wrap {
  width: 100%;
  /* height: auto; */
  height: 100%;
}


.login-row {
  color: #ffffff;
  margin: 0 auto;
  width: 90%;
  padding: 1rem 1.4rem;
}
@media only screen and (min-width: 767px) {
  .login-row {
    width: 60%;
  }
}

@media only screen and (min-width: 1032px) {
  .login-row {
    width: 40%;
  }
}

.login-intro {
  padding: 20px 20px 0 20px;
  align-self: flex-start;
}

.bg-login {
  background-image: url('../../assets/images/login.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.bg-signup {
  background-image: url('../../assets/images/signup-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.form-wrap {
  padding: 20px 20px;
  width: 100%;
}

@media only screen and (min-width: 767px) {
  .form-wrap {
    width: 100%;
  }
}

@media only screen and (min-width: 1032px) {
  .form-wrap {
    width: 100%;
  }
}
