:root {
  --header-bg: linear-gradient(-48deg, #0DCBE5 -30%, #365899 60%);
  --bg-color: #f8f5f2;
  --paragraph: #222525;
  --btn-txt: #232323;
  --btn-txt1: #fffffe;
  --headline: #232323;
  --btn-color: #078080; 
  --btn-color1: #6246ea; 
  
  --stroke: #232323;
  --highlight: #078080;
  --highlight1: #6246ea;
  --highlight2: #c6d3eb;
  --main: #fffffe;
  --secondary: #f45d48;
  --secondary1: #d1d1e9;
  --tertiary: #f8f5f2;

  --gray-one: #c4c4c4;
  --gray-two: #4f4f4f;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

h1,h2,h3 {
  margin-bottom: 30px;
  font-weight: 500;  
}

p {
  color: var(--gray-two)
}

.App {
  background-color: #F4F8FB;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.f-xxm {
  flex: 0 0 5%;
}

.f-xm {
  flex: 0 0 10%;
}

.f-xm {
  flex: 0 0 20%;
}

.f-md {
  flex: 0 0 33.33333%;
}

.f-lg {
  flex: 0 0 50%;
}

.f-xlg {
  flex: 0 0 60%;
}

.f-xxlg {
  flex: 0 0 70%;
} 

.f-xxlg {
  flex: 0 0 80%;
}

.btn {
  margin-top: 1rem;
  background: var(--header-bg);
  width: 100%;
  height: 6vh;
}

.btn-submit {
  color: var(--btn-txt1);
}

.btn-logout {
  background-color: #f45d48;
  color: #f4f4f4;
  border-color: #f45d48;
  border-radius: 3px;
  margin-top: 2rem;
  padding: 0.273rem;
  width: 7vw;
}
